<%= form_with(model: tarefa, local: true) do |form| %>
  <% if tarefa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h2>

      <ul>
      <% tarefa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :tarefa_nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :tarefa_descricao %>
  </div>

  <div class="field">
    <%= form.label :inicio %>
    <%= form.date_select :inicio, id: :tarefa_inicio %>
  </div>

  <div class="field">
    <%= form.label :previsao %>
    <%= form.date_select :previsao, id: :tarefa_previsao %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :tarefa_status %>
  </div>

  <div class="cancel">
    <%= form.submit %>
  </div>
<% end %>
